<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Document</title>
  </head>
  <body>
    <h1>BLOG homepage</h1>
    <p>
      Lorem ipsum dolor sit amet consectetur adipisicing elit. Iusto libero at
      nisi ab placeat perspiciatis, voluptates nemo quibusdam? Tempore magnam
      iusto unde minus delectus veniam, repellendus repellat repudiandae ullam
      atque?
    </p>
  </body>
</html>
